body {
  font-family: sans-serif;
  margin: 5rem
}

#main{
  display: flex;
  flex-direction: column;
  color: blue;
  align-items: center
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
  font-size: 1.3rem;
  font-weight: bold;
}

form div {
  margin: 1em;
  display: inline-block;
}
